<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <ion-icon style="color: red; margin-top: 8%;" name="flame"></ion-icon> <span style="margin-bottom: 5%;"> Indique um Incendio </span>
        <ion-fab   vertical="top" horizontal="end" slot="fixed">
          <button style="border-radius: 50%; width: 25px; height: 25px;" (click)="presentAlertConfirm()">
            <ion-icon name="information"></ion-icon>
          </button>
        </ion-fab>
      </p>

    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div #map id="map"></div>
</ion-content>

